# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore database files
*.sqlite3

# Ignore development and environment-specific settings
*.env
*.log
*.config

# Ignore static and media files (if not using a separate storage service)
/staticfiles/
/media/

# Ignore secret key files
*.key

# Ignore local settings (settings_local.py or similar)
/local_settings.py
/application/locals/settings.py

# Ignore virtual environment directories (if using virtualenv)
/venv/
/.venv/

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore system or backup files
*.swp
*~
