<div class="pb-0 pb-sm-2">
    <h1 class="title title--h1 first-title title__separate">About Me</h1>
    <p>I'm a Pull Stack Developer. I just pull things off the Internet and put it into my code.
        Working in web and mobile apps
        development. I enjoy turning complex problems into simple, beautiful and
        intuitive designs.</p>
    <p>My job is to build your website and mobile app so that it is functional and user-friendly
        but at the
        same time attractive. Moreover, I add personal touch to your product and make sure that
        is eye-catching and easy to use. My aim is to bring across your message and identity in
        the most creative way.</p>
</div>