<div class="circle-menu">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<div class="inner-menu js-menu">
    <ul class="nav">
        <li class="nav__item"><a class="{{properties.active_menu.0}}" href="/">About</a></li>
        <li class="nav__item"><a class="{{properties.active_menu.1}}" href="/resume">Resume</a></li>
        <li class="nav__item"><a class="{{properties.active_menu.2}}" href="/portfolio">Portfolio</a></li>
        <li class="nav__item"><a class="{{properties.active_menu.3}}" href="/contact">Contact</a></li>
    </ul>
</div>